<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Kane.Selenium_java.BrokenLinks"/>
      <class name="Kane.Selenium_java.Alert"/>
     
      <class name="Kane.Selenium_java.Practice"/>
      <class name="Kane.Selenium_java.Scroll"/>
      <class name="Kane.Selenium_java.Scope">
      	<methods>
      		<include name="FooterLinkCount"></include>
      	</methods>
      </class>
      
    </classes>
  </test>
  <test name="miscellaneous">
  <classes>
  <class name="Kane.Selenium_java.Misc"/>
  </classes>
  </test>
</suite> <!-- Suite -->
